body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.widget{
    display: flex;
    flex-direction: column;
}


/* Search Bar and Button */
/* VVVVVVVVVVVVVVVVVVVVV */
.topWidget{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.searchBtn{
    border: none;
    background-color: blue;
    color: white;
    border-radius: 20px;
    max-width: 200px;
    margin: auto;
    padding: auto;
}
.searchBtn:hover{
    background-color: rgb(146, 146, 255);
    color: rgba(255, 255, 255, 0.391);
    transition: all 300ms;
}
.searchBtn:active{
    background-color: rgb(255, 255, 255);
    color: rgb(161, 161, 161);
    transition: all 100ms;
}
.searchBtn:disabled{
    background-color: rgba(167, 167, 167, 0.811);
    color: rgba(255, 255, 255, 0.409);
    transition: all 100ms;
}
.searchValue{
    max-width: 200px;
    margin-top: 30px;
    padding: auto;
    position: relative;
}
.multiOptions{
    list-style-type: none;
    text-align: center;
    padding-right: 42px;
}
.pickPlease{
    font-weight: bold;
}
datalist{
    position: relative;
    background-color: white;
    border: 1px solid rgb(0, 238, 36);
}
#optionsNull{
    display: none;
}
.option1, .option2, .option3, .option4, .option5, .option6, .option7, .option8, .option9, .option10, .option11, .option12{
    background-color: white;
    padding: 4px;
    color: blue;
    margin-bottom: 1px;
    font-size: 18px;
    cursor: pointer;
}
/* ^^^^^^^^^^^^^^^^^^^^^ */
/* Search Bar and Button */



/* Categories and Hero Info */
/* VVVVVVVVVVVVVVVVVVVVVVVV */
main{
    display: flex;
    flex-direction: row;
    margin-right: 32px;
}
.category{
    margin-top: 133px;
}
.categories{
    list-style-type: none;
    text-align: right;
    font-size: 30px;
    margin-right: 10px;
}
.categories2{
    list-style-type: none;
    text-align: left;
    font-size: 30px;
    margin-left: -30px;
}
.bothHeros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}
.heroInfo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    /* border: solid blue; */
    width: 450px;
    max-width: 450px;
    margin-right: 100px;
}
.heroInfo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* border: solid black; */
    width: 450px;
    max-width: 450px;
    margin-left: 100px;
}
.listName1{
    font-weight: bold;
}
.stats1{
    list-style-type: none;
    padding-right: 42px;
    margin-top: -5px;
    text-align: center;
    font-size: 30px;
}
.listName2{
    font-weight: bold;
}
.stats2{
    list-style-type: none;
    padding-right: 42px;
    margin-top: -5px;
    text-align: center;
    font-size: 30px;
}
.hero1, .hero2{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* Categories and Hero Info */

/* Repeat Hero Message */
.title{
    background-color: blue;
}
/* Repeat Hero Message */